doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div 
            li hi
                ul 
                    input(id="name" name="name" type="text" placeholder="name")
                ul 
                    input(id="uid" name="uid" type="text" placeholder="id")
                ul 
                    input(id="password" name="password" type="text" placeholder="password")
                ul 
                    button(id ="login" name="login") login
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/public/login/login.js") 